doctype html
html
head
title node
link(rel='stylesheet', href='/stylesheets/style.css')


body
  
    block content

script(src='/socket.io/socket.io.js')
script(src='https://code.jquery.com/jquery-1.11.3.min.js')
script(src='/javascripts/socket.js')
script(src="https://unpkg.com/axios/dist/axios.min.js")
